@font-face{
    font-family: 'Roboto Mono', monospace;
    src:url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}
body {
    /* Byter man plats på mono och surfer ändras fonten, men tyckte mono var snyggare */
    font-family: 'Roboto Mono', 'Original Surfer', Arial, Helvetica, sans-serif;
    background-color: #FBFBFB; 
    font-size: 110%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

header {
    grid-column: 1/4;
    margin-bottom: 3rem;
    
}



nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 3px solid #dfdfdf;
    
}

.hamburger {
    background-color: transparent;
    border: 0; 
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    order: 2;
    
}

.hamburger:focus {
    outline: none;
}

/*#emoji {
    margin-right: 5rem;
    font-size: 30px;
}*/

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


header nav ul{
    list-style: none;
    text-align: center;
   
    
}

header nav ul li {
    display: inline-block;
    margin-right: 5rem;
    margin-bottom: -1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

a:hover {
    border-bottom: 3px solid;
}

/*a:active{
    border-bottom: 2px solid;
}*/




main {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*margin: 0 auto;*/
    
}

img {
    grid-column: 1/4;
    border-radius: 100%;
    
    width: 25%;
    box-shadow: 10px 10px 10px 1px #ccc;
    margin: 0 auto;
    margin-bottom: 2rem;
}

main h2 {
    grid-column: 1/4;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

main h3 {
    grid-column: 1/4;
    margin: 0 auto;
    color: #303030;
    margin-bottom: -0.5rem;
}

main p {
    grid-column: 1/4;
    /*padding-left: 15rem;
    padding-right: 15rem;*/
    margin-top: -1.5rem;
    padding: 3rem;
    margin-bottom: 3rem;
    color: #303030;
}

.fab, .fas {
    font-size: 160%;
}

#icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
}

#icons *{
    display: inline-block;
    margin: 0 auto;
}

#icons a:hover {
    border-bottom: none;
    color: #484848;
}




footer {
    grid-column: 1/4;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}



@media (max-width: 794px){
    nav {
        border-bottom: none;
    }
    
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: row;
        
        
        
    }
    .hamburger {
        display: block;
        
    }
    .nav-ul.show {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
        justify-content: flex-start;
        order: 2;
        
        
    }
    img {
        width: 40%;
    }
}

@media (max-width: 660px){
    .nav-ul.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #dfdfdf;
    }
    .nav-ul.show li {
        margin-bottom: 0.5rem;
    }

    a:hover {
        border-bottom: none;
    }
}


@media (max-width: 425px) {
    .nav-ul.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #dfdfdf;
    }
    .nav-ul.show li {
        margin-bottom: 0.5rem;
    }

    a:hover {
        border-bottom: none;
    }
    
    img {
        width: 40%;
    }
}

@media (max-width: 377px){
    #icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -4rem;        
    }

    img {
        width: 40%;
    }


    #github {
        padding: 1rem;
        
    }
    #linkedin {
        padding: 1rem; 
    }
    #gmail {
        padding: 1rem;
    }
}


@media (max-width: 320px){
    main h3 {
        padding: 1rem;
    }
}
